@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap");

@keyframes topStar{
    0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);

  }
}

@keyframes star {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(6deg);

  }
}

@keyframes planet {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);

  }
}
.contact-content {
    height: 110vh;
    background-image: url('../public/images/contact.png');
    display: flex ;
}

.contact-content h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 5.5rem;
    margin: 40px;
}

/* left side */

.left-side {
    display: flex;
    flex-direction: column;
}

.stars {
    margin: 10% -10% 10% 0%;
    display: flex;
    flex-direction: column;
}

.top-star {
    width: 50%;
    align-self: center;
    filter: drop-shadow(0 0 15px #FFEE57);
    animation: topStar 3s ease-in-out infinite;
    
}

.middle-star {
    align-self: center;
    filter: drop-shadow(0 0 6px #dfd152a6);
    margin-top: -5%;
    margin-bottom: -20%;
    animation: star 2s ease-in-out infinite;
}

.bottom-star {
    width: 40%;
    align-self: flex-end;
    filter: drop-shadow(0 0 15px #FFEE57);
    animation: topStar 2.5s ease-in-out infinite;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.contact-icons img {
    height: 70px;
    width: 75px;
    background-color: rgba(255, 255, 255, 0.313);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 4px 4px rgb(33, 32, 32);
}

.contact-icons img:hover {
    filter: drop-shadow(0 0 20px #535469);
    transform: translateY(2px);
    box-shadow: 1px 4px 4px rgb(0, 0, 0);
}

.contact-icons img:active {
    transform: scale(0.98);
    box-shadow: 1px 4px 4px rgb(33, 32, 32);
}

/* right side */
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form {
    position: relative;
    animation: planet 3s ease-in-out infinite;
}

.contact-text {
    position: absolute;
    z-index: 20;
    color: white;
    top: 15%;
    left: 5%;
}

.form-content {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 2.2rem;
    align-content: center;
    margin-top: -4%;
}

.planet {
    display: block;
    filter: drop-shadow(0 0 25px #1e2bc1);
    width: 95%;
    margin: 0 auto;
}

.group {
    display: flex;
    margin: 35px;
    gap: 20px;
    
}

.name-group, .message-group {
    margin-left: 15%;
}

input {
    background-color: rgba(255, 255, 255, 0.492);
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 20px;
    justify-self: center;
    width: 350px;
}

label {
    margin-top: 2%;
}

.launch {
    border: none;
    color: white;
    background-color: #466290;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 30px;
    width: 20%;
    box-shadow: 1px 4px 4px #1e2a3e;
    align-self: center;
}

.launch:hover {
    transform: translateY(2px);
    box-shadow: 1px 4px 7px #2f405c;
}

.launch:active {
    background-color: #3a5177;
    transform: scale(0.98);
    box-shadow: 1px 6px 4px #1e2a3e;
}

/* iPad pro screens */
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .contact-content {
        height: 80vh;
        flex-direction: column-reverse;
        gap: 10%;
    }

    .right-side {
       transform: translateY(-5%);
    }

    .left-side {
        transform: translateY(-40%);
    }

    .contact-icons img {
        width: 90px;
        height: auto;
    }
  
    .stars {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .contact-content {
    height: 90vh;
  }
  
    .right-side {
    margin-top: -5%;
  }
}

/* iPad screens */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .contact-content {
        height: 120vh;
        flex-direction: column-reverse;
        gap: 10%;
    }

    .planet {
        width: 87%;
    }

    .right-side {
       transform: translateY(-5%);
    }

    .left-side {
        transform: translateY(-40%);
    }

    .contact-icons img {
        width: 80px;
        height: auto;
        margin-top: -20%;
    }
  
    .stars {
        display: none;
    }

    input {
        font-size: 1.3rem;
        width: 300px;
    }

    label {
        margin-top: 2%;
    }

    .form-content {
        font-size: 2rem;
        margin-top: -6%;
        margin-left: 10%;
    }

    .launch {
       margin-left: 10%;
       padding-left: 5px;
       padding: 20px;
       width: 130px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .contact-content {
        height: 110vh;
        flex-direction: column-reverse;
        gap: 10%;
    }

    .right-side {
       transform: translateY(-5%);
    }

    .left-side {
        transform: translateY(-40%);
    }

    .contact-icons img {
        width: 90px;
        height: auto;
    }
  
    .stars {
        display: none;
    }
}