.project-display {
    height: 100vh;
    background-image: url("../public/images/projectpage.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.top-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.description {
    background-color: rgba(255, 255, 255, 0.166);
    height: 530px;
    width: 400px;
    text-align: center;
}

.project-img {
    height: 460px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.166);
    padding: 40px;
    align-self: center;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.left-btn, .right-btn {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 2px 4px 4px rgb(46, 45, 45);
}

.left-btn:hover, .right-btn:hover {
    box-shadow: 2px 5px 4px rgb(9, 9, 9);
    transform: translateY(2px);
}

.left-btn:active, .right-btn:active {
    box-shadow: 2px 4px 4px rgb(46, 45, 45);
    transform: scale(0.98);
}


.launch-btn {
    border: none;
    color: white;
    font-family: 'IBM Plex Mono', serif;
    font-weight: 700;
    border-radius: 35px;
    background-color: #fa5d5d8a;
    padding: 20px 25px;
    font-size: 1.7rem;
    box-shadow: 2px 4px 4px #351616c5;
}

.launch-btn:hover {
    box-shadow: 2px 5px 4px #230f0fc5;
    transform: translateY(2px);
}

.launch-btn:active {
    box-shadow: 2px 5px 4px #351616c5;
    transform: scale(0.98);
}

.arrow {
    height: 40px;
}

